.mainPage {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  &__error_info {
    margin: 100px auto;
    width: 550px;
    text-align: center;
    .error_info__title {
      font-size: 32px;
      font-weight: 700px;
      margin-bottom: 10px;
    }
    .error_info__text {
      font-size: 20px;
    }
  }
}
.wrapper {
  margin-top: 100px;
  width: 750px;
  // height: 500px;
}
